<launch>
    <arg name="bag_start"   default="0" /> <!-- v1-2: 0, mh1: 40, mh2: 35, mh3: 17.5, mh4-5: 15 -->
    <arg name="dataset"     default="V1_02_medium" /> <!-- V1_01_easy, V1_02_medium, V2_02_medium -->
    <arg name="dobag"       default="true" /> <!-- if we should play back the bag -->
    <arg name="bag"         default="/media/yhu7szh/wave3_data/dataset/euroc_mav/$(arg dataset).bag" />

    <!-- saving trajectory path and timing information -->
    <arg name="dosave"      default="true" />
    <arg name="path_est"    default="/home/yhu7szh/vio_eval/algorithms/vins_mono/$(arg dataset)/traj.txt" />
    <arg name="path_time"   default="/home/yhu7szh/vio_eval/algorithms/vins_mono/$(arg dataset)/time.txt" />

    <!-- start of the original vins-mono params -->
    <arg name="config_path" default = "$(find feature_tracker)/../config/euroc/euroc_config_no_extrinsic.yaml" />
	<arg name="vins_path" default = "$(find feature_tracker)/../config/../" />

    <node name="feature_tracker" pkg="feature_tracker" type="feature_tracker" output="log">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

    <node name="vins_estimator" pkg="vins_estimator" type="vins_estimator" output="screen">
       <param name="config_file" type="string" value="$(arg config_path)" />
       <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

    <!-- <node name="pose_graph" pkg="pose_graph" type="pose_graph" output="screen">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="visualization_shift_x" type="int" value="0" />
        <param name="visualization_shift_y" type="int" value="0" />
        <param name="skip_cnt" type="int" value="0" />
        <param name="skip_dis" type="double" value="0" />
    </node> -->

    <!-- play the dataset -->
    <group if="$(arg dobag)">
        <node pkg="rosbag" type="play" name="rosbag" args="-d 1 -s $(arg bag_start) $(arg bag)" required="true"/>
    </group>

    <!-- record the trajectory if enabled -->
    <group if="$(arg dosave)">
        <node name="recorder_estimate" pkg="ov_eval" type="pose_to_file" output="screen" required="true">
            <param name="topic"      type="str" value="/vins_estimator/odometry" />
            <param name="topic_type" type="str" value="Odometry" />
            <param name="output"     type="str" value="$(arg path_est)" />
        </node>
    </group>

</launch>
